{% extends "ap2.j2" %}

{% block summary %}
<p>
Dit informatiemodel kadert binnen de uitvoering van de
<a href="https://energy.ec.europa.eu/topics/energy-efficiency/energy-performance-buildings/energy-performance-buildings-directive_en" target="_blank">
Europese Richtlijn Energieprestatie van Gebouwen (Energy Performance of Buildings Directive – EPBD)
</a>
en ondersteunt de Vlaamse context waarin energieprestatie‑informatie over gebouwen en gebouweenheden wordt verzameld, beheerd en hergebruikt voor beleid, handhaving en dienstverlening.
</p>

<p>
Dit informatiemodel werd uitgewerkt binnen een <strong>OSLO-voortraject</strong> met een bewust <strong>afgebakende scope</strong>. Het voortraject had expliciet de volgende doelstellingen:
</p>
<ul>
  <li>het in kaart brengen en afbakenen van de kerninformatienoden binnen EPBD‑gerelateerde processen;</li>
  <li>het identificeren en structureren van de belangrijkste concepten en relaties die deze informatienoden ondersteunen;</li>
  <li>het verkennen van hergebruik van bestaande semantische bouwstenen en standaarden;</li>
  <li>het voorbereiden van een mogelijk vervolgtraject waarin verdere detaillering en standaardisatie kan plaatsvinden.</li>
</ul>
Het resultaat vormt een richtinggevend en semantisch gedragen kader, zonder een volledige technische of implementatie‑uitwerking te beogen.<p>
Voor de uitwerking van dit informatiemodel werd expliciet ingezet op maximaal hetgebruik van bestaande standaarden. Zo werd gekeken naar:
</p>

<ul>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/gebouwenregister/" target="_blank">
      OSLO Gebouw
    </a>
    (gebaseerd op
    <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-buildings-technical-guidelines_en" target="_blank">
      INSPIRE Building
    </a>)
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/omgevingsvergunning/" target="_blank">
      OSLO Omgevingsvergunning
    </a>
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/" target="_blank">
      OSLO Dossier
    </a>
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/" target="_blank">
      OSLO Observaties en Metingen
    </a>
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/adresregister/" target="_blank">
      OSLO Adres
    </a>
    (gebaseerd op
    <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-addresses-technical-guidelines_en" target="_blank">
      INSPIRE Adres
    </a>)
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/perceel/" target="_blank">
      OSLO Perceel
    </a>
    (gebaseerd op
    <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-cadastral-parcels-technical-guidelines_en" target="_blank">
      INSPIRE Cadastral Parcels
    </a>)
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/" target="_blank">
      OSLO Besluit
    </a>
    (gebaseerd op
    <a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/eli" target="_blank">
      ELI
    </a>)
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/" target="_blank">
      OSLO Organisatie
    </a>
    (gebaseerd op
    <a href="https://www.w3.org/TR/vocab-org/" target="_blank">W3C Org</a>
    en
    <a href="https://www.w3.org/TR/vocab-regorg/" target="_blank">RegOrg</a>)
  </li>
  <li>
    <a href="https://belgif.github.io/thematic/models/cable-pipe/index_nl.html" target="_blank">
      ICEG Kabels en Leidingen
    </a>
  </li>
  <li>
    <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/" target="_blank">
      OSLO Dienst
    </a>
    (gebaseerd op
    <a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-public-service-vocabulary-application-profile" target="_blank">
      SEMIC CPSV‑AP
    </a>)
  </li>
</ul>
{% endblock %}


